[package]
name = "hypervisor"
version = "0.1.0"
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-rt = { workspace = true }
anyhow = { workspace = true }
async-trait = { workspace = true }
go-flag = { workspace = true }
libc = { workspace = true }
nix = { workspace = true }
rust-ini = "0.18.0"
seccompiler = "0.2.0"
serde = { workspace = true }
serde_json = { workspace = true }
slog = { workspace = true }
slog-scope = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["sync", "fs", "process", "io-util"] }
vmm-sys-util = "0.11.0"
rand = { workspace = true }
path-clean = "1.0.1"
lazy_static = { workspace = true }
tracing = { workspace = true }
ttrpc = { workspace = true, features = ["async"] }
protobuf = { workspace = true }
oci-spec = { workspace = true }
futures = "0.3.25"
safe-path = "0.1.0"
crossbeam-channel = "0.5.6"
tempdir = "0.3.7"
qapi = { version = "0.14", features = ["qmp", "async-tokio-all"] }
qapi-spec = "0.3.1"
qapi-qmp = "0.14.0"
hyperlocal = { workspace = true }
hyper = { workspace = true, features = ["client"] }

# Local dependencies
kata-sys-util = { workspace = true }
kata-types = { workspace = true }
logging = { workspace = true }
protocols = { workspace = true, features = ["async"] }
shim-interface = { workspace = true }
persist = { workspace = true }
ch-config = { workspace = true, optional = true }
tests_utils = { workspace = true }

# Local dependencies: Dragonball
dragonball = { workspace = true, features = [
    "atomic-guest-memory",
    "virtio-vsock",
    "hotplug",
    "virtio-blk",
    "virtio-net",
    "virtio-fs",
    "vhost-net",
    "dbs-upcall",
    "virtio-mem",
    "virtio-balloon",
    "vhost-user-net",
    "host-device",
], optional = true }
dbs-utils = { workspace = true }

[features]
default = []

dragonball = ["dep:dragonball"]
# Feature is not yet complete, so not enabled by default.
# See https://github.com/kata-containers/kata-containers/issues/6264.
cloud-hypervisor = ["ch-config"]

[dev-dependencies]
serial_test = "2.0.0"

# Local dev-dependencies
# Force the CH tests to run, even when the feature is not enabled for
# a normal build.
hypervisor = { workspace = true, features = ["cloud-hypervisor"] }
test-utils = { workspace = true }

[build-dependencies]
ttrpc-codegen = "0.4.2"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
    'cfg(feature, values("enable-vendor"))',
] }
