[package]
name = "hypervisor"
version = "0.1.0"
authors = ["The Kata Containers community <kata-dev@lists.katacontainers.io>"]
edition = "2018"
license = "Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-rt = "2.7.0"
anyhow = "^1.0"
async-trait = "0.1.48"
dbs-utils = "0.2.0"
go-flag = "0.1.0"
libc = ">=0.2.39"
nix = "0.24.2"
persist = { path = "../persist" }
rust-ini = "0.18.0"
seccompiler = "0.2.0"
serde = { version = "1.0.138", features = ["derive"] }
serde_json = ">=1.0.9"
slog = "2.5.2"
slog-scope = "4.4.0"
thiserror = "1.0"
tokio = { version = "1.28.1", features = ["sync", "fs"] }
vmm-sys-util = "0.11.0"
rand = "0.8.4"

kata-sys-util = { path = "../../../libs/kata-sys-util" }
kata-types = { path = "../../../libs/kata-types" }
logging = { path = "../../../libs/logging" }
shim-interface = { path = "../../../libs/shim-interface" }

dragonball = { path = "../../../dragonball", features = ["atomic-guest-memory", "virtio-vsock", "hotplug", "virtio-blk", "virtio-net", "virtio-fs", "dbs-upcall"] }

ch-config = { path = "ch-config", optional = true }

futures = "0.3.25"
safe-path = "0.1.0"
crossbeam-channel = "0.5.6"

[features]
default = []

# Feature is not yet complete, so not enabled by default.
# See https://github.com/kata-containers/kata-containers/issues/6264.
cloud-hypervisor = ["ch-config"]
