#
# Copyright 2017 HyperHQ Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

os:
  - linux
  - osx
  - linux-ppc64le

matrix:
  include:
    - os: linux
      sudo: required
      dist: trusty

language: go
go_import_path: github.com/kata-containers/proxy

go:
  - 1.8

before_script:
  - ".ci/static-checks.sh"

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update -qq              ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y -qq automake ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install bash; fi

install:
  - cd ${TRAVIS_BUILD_DIR} && make

script:
  - cd ${TRAVIS_BUILD_DIR} && make test

after_success:
  - bash <(curl -s https://codecov.io/bash)
