# Copyright (c) 2019 Ant Financial
#
# SPDX-License-Identifier: Apache-2.0
#

sudo: required
dist: bionic

os:
    - linux

language: rust
rust:
    - stable

env:
    - target_branch=$TRAVIS_BRANCH RUST_AGENT=yes

before_install:
    - "ci/setup.sh"
    - "ci/install_go.sh"
    - "ci/install_rust.sh"
    - "ci/static-checks.sh"

# need to install rust from scratch?
# still need go to download github.com/kata-containers/tests
# which is already installed?

install:
    - cd ${TRAVIS_BUILD_DIR}/src/runtime && make
    - cd ${TRAVIS_BUILD_DIR}/src/agent && make

script:
    - cd ${TRAVIS_BUILD_DIR}/src/runtime && make test
    - cd ${TRAVIS_BUILD_DIR}/src/agent && make check
