*.o
*.patch
*.swp
coverage.txt
coverage.txt.tmp
coverage.html
.git-commit
.git-commit.tmp
/config/*.toml
config-generated.go
/containerd-shim-kata-v2
/pkg/containerd-shim-v2/monitor_address
/data/kata-collect-data.sh
/kata-monitor
/kata-runtime
/pkg/katautils/config-settings.go
/virtcontainers/hack/virtc/virtc
/virtcontainers/hook/mock/hook
/virtcontainers/profile.cov
/virtcontainers/utils/supportfiles
/virtcontainers/cpu_affinity_idx
