apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment-dragonball
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 2
  template:
    metadata:
      labels:
        app: nginx
    spec:
      runtimeClassName: kata-dragonball
      containers:
      - name: nginx
        image: nginx:1.14
        ports:
        - containerPort: 80
