
# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#  name = "github.com/x/y"
#  version = "2.4.0"

[prune]
  non-go = true
  go-tests = true

[[constraint]]
  revision = "5bf8d4cc4614d0e0b3202f0a39d723195e341df8"
  name = "github.com/kata-containers/agent"

[[constraint]]
  revision = "v1.4.2"
  name = "github.com/sirupsen/logrus"

[[constraint]]
  name = "github.com/stretchr/testify"
  version = "1.1.4"

[[constraint]]
  revision = "a8b9294777976932365dabb6640cf1468d95c70f"
  name = "golang.org/x/net"

[[constraint]]
  name = "google.golang.org/grpc"
  revision = "d11072e7ca9811b1100b80ca0269ac831f06d024"
