[Unit]
Description=OPA for Confidential Containers
Documentation=https://github.com/confidential-containers

[Service]
# Send agent output to tty to allow capture debug logs
# from a VM vsock port
StandardOutput=tty
StandardError=tty
Type=simple
ExecStart=/usr/local/bin/opa run --server --disable-telemetry --addr 127.0.0.1:8181 --log-level info /agent_policy
DynamicUser=yes
RuntimeDirectory=coco-opa
