[package]
name = "agent"
version = "0.1.0"
authors = ["The Kata Containers community <kata-dev@lists.katacontainers.io>"]
edition = "2018"
license = "Apache-2.0"

[dev-dependencies]
futures = "0.1.27"

[dependencies]
anyhow = "1.0.26"
async-trait = "0.1.48"
log = "0.4.14"
protobuf = "2.27.0"
serde = { version = "^1.0", features = ["derive"] }
serde_json = ">=1.0.9"
slog = "2.5.2"
slog-scope = "4.4.0"
ttrpc = { version = "0.6.1" }
tokio = { version = "1.8.0", features = ["fs", "rt"] }
url = "2.2.2"
nix = "0.24.2"

kata-types = { path = "../../../libs/kata-types"}
logging = { path = "../../../libs/logging"}
oci = { path = "../../../libs/oci" }
protocols = { path = "../../../libs/protocols", features=["async"] }

[features]
default = []
