
# /etc/systemd/system/initdata-processor.service
[Unit]
Description=Kata InitData Processor
Documentation=https://github.com/kata-containers/kata-containers
Before=guest-components.target kata-agent.service
Wants=guest-components.target

[Service]
Type=oneshot
ExecStart=/usr/bin/initdata-processor
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
Restart=no

[Install]
WantedBy=multi-user.target