on:
  schedule:
    - cron: '0 5 * * *'

name: Nightly CI for RISC-V

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build-kata-static-tarball-riscv:
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    uses: ./.github/workflows/build-kata-static-tarball-riscv64.yaml
    with:
      tarball-suffix: -${{ github.sha }}
      commit-hash: ${{ github.sha }}
      target-branch: ${{ github.ref_name }}

  build-checks-preview:
    strategy:
      fail-fast: false
      matrix:
        instance:
          - "riscv-builder"
    uses: ./.github/workflows/build-checks-preview-riscv64.yaml
    with:
      instance: ${{ matrix.instance }}
