on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
    paths-ignore: [ '**.md', '**.png', '**.jpg', '**.jpeg', '**.svg', '/docs/**' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

name: Darwin tests
jobs:
  test:
    runs-on: macos-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.19.3
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build utils
      run: ./ci/darwin-test.sh
