# Copyright (c) 2025 Kata Containers Community
# Copyright (c) 2025 NVIDIA Corporation
#
# SPDX-License-Identifier: Apache-2.0

name: New CI | Build kata-static tarball for s390x
on:
  repository_dispatch:
    types: [new-ci-build-s390x]

permissions: {}

jobs:
  build-asset:
    name: build-asset
    runs-on: ubuntu-24.04-s390x
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        asset:
          - agent
          - coco-guest-components
          - kernel
          - kernel-confidential
          - pause-image
          - qemu
          - virtiofsd
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.client_payload.head_sha }}
          fetch-depth: 0
          persist-credentials: false

      - name: Rebase atop of main
        run: ./tests/git-helper.sh "rebase-atop-of-the-latest-target-branch"
        env:
          TARGET_BRANCH: main

      - name: Build asset
        env:
          KATA_ASSET: ${{ matrix.asset }}
          PUSH_TO_REGISTRY: no
          RELEASE: no
          CI_HKD_PATH: ${{ secrets.CI_HKD_PATH }}
        run: |
          make "${KATA_ASSET}-tarball"
          build_dir=$(readlink -f build)
          mkdir -p kata-build && cp "${build_dir}"/kata-static-"${KATA_ASSET}"*.tar.* kata-build/.

      - name: Upload artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: kata-artifacts-s390x-${{ matrix.asset }}-${{ github.event.client_payload.pr_number }}
          path: kata-build/kata-static-${{ matrix.asset }}.tar.zst
          retention-days: 15
          if-no-files-found: error
