name: CI | Run kubernetes tests on IBM Cloud Z virtual server instance (zVSI)
on:
  workflow_call:
    inputs:
      registry:
        required: true
        type: string
      repo:
        required: true
        type: string
      tag:
        required: true
        type: string
      pr-number:
        required: true
        type: string
      commit-hash:
        required: false
        type: string
      target-branch:
        required: false
        type: string
        default: ""

jobs:
  run-k8s-tests:
    strategy:
      fail-fast: false
      matrix:
        snapshotter:
          - devmapper
          - nydus
        k8s:
          - k3s
        include:
          - snapshotter: devmapper
            pull-type: default
            using-nfd: true
            deploy-cmd: configure-snapshotter
            vmm: qemu
          - snapshotter: nydus
            pull-type: guest-pull
            using-nfd: false
            deploy-cmd: deploy-snapshotter
            vmm: qemu-coco-dev
    runs-on: s390x-large
    env:
      DOCKER_REGISTRY: ${{ inputs.registry }}
      DOCKER_REPO: ${{ inputs.repo }}
      DOCKER_TAG: ${{ inputs.tag }}
      PR_NUMBER: ${{ inputs.pr-number }}
      GH_PR_NUMBER: ${{ inputs.pr-number }}
      KATA_HOST_OS: "ubuntu"
      KATA_HYPERVISOR: ${{ matrix.vmm }}
      KUBERNETES: "k3s"
      PULL_TYPE: ${{ matrix.pull-type }}
      SNAPSHOTTER: ${{ matrix.snapshotter }}
      USING_NFD: ${{ matrix.using-nfd }}
      TARGET_ARCH: "s390x"
    steps:
      - name: Take a pre-action for self-hosted runner
        run: ${HOME}/script/pre_action.sh ubuntu-2204

      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit-hash }}
          fetch-depth: 0

      - name: Rebase atop of the latest target branch
        run: |
          ./tests/git-helper.sh "rebase-atop-of-the-latest-target-branch"
        env:
          TARGET_BRANCH: ${{ inputs.target-branch }}

      - name: Deploy ${{ matrix.k8s }}
        run: bash tests/integration/kubernetes/gha-run.sh deploy-k8s

      - name: Configure the ${{ matrix.snapshotter }} snapshotter
        run: bash tests/integration/kubernetes/gha-run.sh ${{ matrix.deploy-cmd }}

      - name: Deploy Kata
        timeout-minutes: 10
        run: bash tests/integration/kubernetes/gha-run.sh deploy-kata-zvsi

      - name: Run tests
        timeout-minutes: 60
        run: bash tests/integration/kubernetes/gha-run.sh run-tests

      - name: Take a post-action
        if: always()
        run: |
          bash tests/integration/kubernetes/gha-run.sh cleanup-zvsi || true
          ${HOME}/script/post_action.sh ubuntu-2204
