name: snap CI
on:
  pull_request:
    paths:
      - "**/Makefile"
      - "**/*.go"
      - "**/*.mk"
      - "**/*.rs"
      - "**/*.sh"
      - "**/*.toml"
      - "**/*.yaml"
      - "**/*.yml"
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out
        uses: actions/checkout@v2

      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@v1

      - name: Build snap
        run: |
          snapcraft -d snap --destructive-mode
